@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    ;
    box-sizing: border-box;
    background-image: none;
}

.about {
    width: 100%;
    padding: 78px 0px;
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInLeft 6s ease forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.imagem-botões {
    display: block;
    justify-content: center;
    align-content: center;
}

.about img {
    height: 350px;
    width: 470px;
    border: 2px solid rgba(159, 158, 158, 0.625);
    /* border-radius: 100%; */
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.front {
    color: rgba(172, 255, 47, 0.694);
    font-weight: 600;
}

.about-text h1 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 400;
}

.about-text h5 {
    color: white;
    font-size: 25px;
    font-weight: 700;
    /* text-transform: capitalize; */
    margin-bottom: 25px;
    letter-spacing: 2px;
}

/* span{
    color: black
} */
.about-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.botao {
    /* margin-left: 55px; */
    margin-top: 18px;
    width: 100%;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: rgba(172, 255, 47, 0.694);
    padding: 5px;
    border: 2px solid rgb(212, 211, 211);
    border-radius: 10px;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.botao:hover {
    background-color: rgba(172, 255, 47, 0);
    color: rgb(132, 195, 37);
}

@media only screen and (max-width: 980px) {
    .about img {
        height: 300px;
        width: 250px;
        margin-left: 50px;
    }

    .botao {
        width: 200px;
        margin-left: 70px;
    }

    .about-text p {
        font-size: 16px;
        line-height: 28px;
        font-size: 1.3rem;
    }

    .about-text h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .about-text h5 {
        font-size: 20px;
    }


    @media only screen and (max-width: 900px) {
        .about-text h1 {
            font-size: 30px;
        }

        .about-text h5 {
            margin-bottom: 10px;
        }

        .about-text p {
            font-size: 1.1rem;
        }

        .about img {
            margin-left: 5px;
        }

        .botao {
            width: 150px;
            font-size: 1.2rem;
            margin-left: 60px;
        }
    }

    @media only screen and (max-width: 620px) {
        .about-text h1 {
            font-size: 25px;
            margin-bottom: 10px;
        }
        .about-text p{
            font-size: 0.8rem;
            line-height: 19px;
        }
        .about-text h5 {
            font-size: 1rem;
        }
        .about img {
            height: 250px;
            width: 200px;
            margin-right: 30px;
        }
        .botao {
            width: 100px;
            font-size: 0.8rem;
           
        }
    }
    @media only screen and (max-width: 500px) {
        .about-text h1 {
            font-size: 20px;
            margin-bottom: 8px;
        }
        .about-text p{
            font-size: 0.7rem;
            line-height: 15px;
        }
        .about img {
            height: 200px;
            width: 150px;
            margin-right: 25px;
        }
        .botao {
            width: 70px;
            font-size: 0.6rem;
            letter-spacing: 2px;
            margin-left: 50px;
           
        }
    }
}