@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin-top: -1px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: var(--primaria); */
}

.corpo {
    margin-top: 0px;

    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

.titulo {
    
    position: relative;
    right: 70%;
    /* left: 100px; */
    margin-top: 5px;
    justify-content: flex-start;
    text-decoration: none;
    font: normal 700 17px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    ;
    color: var(--terciaria);
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
}
/* .titulo:hover{
    background-color: blanchedalmond;
} */
.logo-texto{
    font-size: 1.2rem;
    line-height: 60px;
    margin-left: 10px;
    position: relative;
    /* border-right: 2px solid ; */
    width: 28ch;
    white-space: nowrap;
    overflow: hidden;
    animation: digitando 2.5s steps(25),
    span 0,5s infinite step-end;
    z-index: 1;
}

@keyframes digitando{
    from{
        width: 0;
    }
}
@keyframes span{
    50%{
        border-color: transparent;
    }
}

.menu {
    padding: 0;
    margin: 0 auto;
    /* background-color:rgba(221, 216, 216, 0.93); */
    /* height: 60px; */
    justify-content: space-between;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    margin-top: 0px;
    list-style-type: none;
    cursor: pointer;

}

.corpo-menu {
    position: fixed;
    margin-top: 20px;
    padding: 0;
    z-index: 1;
  
}

.corpo-menu li {
    display: inline;
    /* gap: 0.9rem; */
    /* padding: 50px; */
    text-decoration: none;
}

.corpo-menu li a{
    position: relative;
    padding: 18px;
    display: inline;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--terciaria);
    font-weight:400;
    z-index: 1;
}

.link-menu::after {
    content: "";
    height: 2px;
    width: 100%;
    background: white;
    left: 0;
    bottom: 10px;
    position: absolute;
    opacity: 0;
    text-decoration: none;
}

a:hover::after {
    opacity: 1;
    

}

@media only screen and (max-width: 1110px) {
    .titulo{
        right: 60%;
        font: normal 700 15px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    ;
    
    }
    a{
        font-size: 16px;
    }
}
@media only screen and (max-width: 980px) {
    .titulo{
        right: 50%;
        font: normal 700 14px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    ;
    }
    a{
        font-size: 14px;
    }
}
@media only screen and (max-width: 800px) {
    a{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: var(--terciaria);
    }

   .titulo{
    display: flex;
    flex-wrap: nowrap;
    font: normal 700 14px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    ;
    right: 30%;
}
.logo-img{
    height: 40px;
    width: 40px;
}
.logo-texto{
    line-height: 40px;
    margin-left: 10px;
}

.corpo-menu{
    line-height: 90px;
    right: 20%;
}

   
    @media only screen and (max-width: 620px) {
        .a{
            font-size: 14px;
            padding-right: 20px;

        }
        .corpo-menu li a{
            position: relative;
            padding: 12px;
            display: inline;
        }
        .titulo{
            display: flex;
            flex-wrap: nowrap;
            font: normal 700 13px "Roboto", Helvetica, Arial, Verdana, sans-serif;
            ;
            right: 25%;}

        a::after {
            content: "";
            height: 2px;
            width: 90%;
            background: white;
            left: 0;
            bottom: 10px;
            position: absolute;
            opacity: 0;
        }
    }

    @media only screen and (max-width: 390px) {
        .titulo{
            display: flex;
            flex-wrap: nowrap;
            font: normal 700 14px "Roboto", Helvetica, Arial, Verdana, sans-serif;
            ;
          left: 10%;  }
    }
    .corpo-menu{
        display: none;
    }
    .logo-texto{
        font-size: 1rem;
        width: 28ch;
    }
}