@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
    color: white;
}



.titulo-projetos {
    font-size: 40px;
    line-height: 140px;
    text-align: center;
    margin-bottom: 110px;
    white-space: nowrap;

    letter-spacing: .15em;
    display: block;
    /* overflow: hidden;
    animation: typing 8.5s steps(30,end),
    blink-caret .5s step-end infinite */
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}



.circles {
    display: flex;
    /* height: 90vh; */
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;

}

#Barbara {
    background-image: url('./imagensProjetos/414692974_780876667414459_5950248591951011380_n.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -90px;
}

#Puc {
    background-image: url('../../imagens/logo_diogo-removebg-preview.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -90px;
}

#RB1 {
    background-image: url('./imagensProjetos/1591044.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -90px;
}

.circle {
    background-color: rgb(234 196 196 / 65%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 45px;
    /* padding: 100px; */
    margin-bottom: 100px;
    border: 4px solid transparent;
    box-shadow: 4px 4px 25px 6px rgba(202, 201, 201, 0.837);
    transform: scale(.9);
    /* z-index: -1; */
    cursor: pointer;
}


.circle:hover {
    border-color: rgb(213, 210, 210);
    box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.837);
    /* animation: quica .8s cubic-bezier(.53,-0.03, .67, 1.06);
        animation-direction: alternate;
        animation-iteration-count:calc(4); */
}

/* .logo{
    border-radius: 50%;
    height: 200px;
    width: 150px;
} */

/* 
@keyframes quica{
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(100%);
        width: 220px;
        height: 10px;
    }
} */



.sec {
    margin: 0 auto;
}



.bot {
    background: none;
    border: none;
    padding: 0px;
}

.titulo-janela {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.texto {
    color: white;
    font-size: 1.2rem;
    padding-top: 35px;
}

.divBotao {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 65px;
}

.esconder {
    font-family: 'Roboto', sans-serif;
    ;
    border: 1px solid white;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    background-color: #9b529164;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.esconder:hover {
    border: 1px solid white;
    /* background-color: rgb(136, 135, 135);
    color: #9b529164; */
    transition: ease 0.5s;
}

.legenda {
    display: none;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    /* flex-grow: 1; */
    height: 55vh;
    width: 102vw;
    background: #4a4a4a63;
    padding: 10px;
    margin-top: 240px;
    /* margin-left: -170px; */
    margin-left: -90px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: .3s;
    border: 4px solid transparent;
    box-shadow: 4px 4px 18px 14px rgba(0, 0, 0, 0.537);
    /* z-index: -1; */
    cursor: pointer;
    opacity: 0;
    transform: translateY(-30px) scale(.5);
    animation: caixa 1s ease forwards;
}

@keyframes caixa {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.descricao-texto {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* margin-top: -180px; */
    font-size: 1.52rem;
    text-align: left;
    /* line-height: 19px; */
    line-height: 170%;
    font-family: 'Montserrat', sans-serif;
}

.descricao-titulo {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 6px;
    font-size: 1.7rem;
    color: white;
    font-weight: 600;
}

.botoes-descricao {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    /* align-items: center; */
    /* width: 100vw; */

}

.link-projeto {
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: rgba(172, 255, 47, 0.694);
    padding: 5px;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 10px;
    transition: 0.5s ease-in;

}

.link-projeto:hover {
    background-color: rgba(172, 255, 47, 0);
    color: rgb(132, 195, 37);
}

.aviso {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 0.7rem;
    font-weight: 500;
    flex-wrap: wrap;
}

.p-toast {
    z-index: 1;
}

.p-toast-detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 6px;
    margin-bottom: 5px;
    color: rgb(32, 32, 32);
}

.p-toast-message-content {
    /* background-color: rgba(0, 0, 0, 0); */
}

.p-toast-summary {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.p-toast-message {}

@media only screen and (max-width: 1100px) {
    .legenda {
        margin: 35vh auto;
        height: 52vh;
    }

    .descricao-texto {
        font-size: 1.35rem;
    }

    .link-projeto {
        font-size: 1rem;
    }

    .circle {
        width: 180px;
        height: 180px;
    }

    .titulo-projetos {
        font-size: 40px;
        /* margin-bottom: 90px; */
    }
}

@media only screen and (max-width: 900px) {
    .descricao-texto {
        font-size: 1.1rem;
    }

    .legenda {
        width: 95vw;
        height: 51vh;
    }

    .link-projeto {
        font-size: 0.85rem;
    }

    .circle {
        width: 150px;
        height: 150px;
    }

    .titulo-projetos {
        font-size: 30px;
        /* margin-bottom: 90px; */
    }

    .descricao-titulo {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 720px) {
    .descricao-texto {
        font-size: 0.91rem;
    }

    .legenda {
        width: 95vw;
        height: 48vh;
    }

    .link-projeto {
        font-size: 0.75rem;
        letter-spacing: 1px;
    }

    .descricao-titulo {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 640px) {
    .circle {
        width: 100px;
        height: 100px;
    }

    .titulo-projetos {
        font-size: 1.6rem;
        margin-bottom: 90px;
        margin-top: 70px;
    }

    .legenda {
        margin: 20vh auto;

    }
}

@media only screen and (max-width: 480px) {
    .circle {
        width: 68px;
        height: 68px;
    }

    .circles {
        flex-wrap: nowrap;
        margin: auto;
    }

    .titulo-projetos {
        font-size: 1.6rem;
        margin-bottom: 120px;
        margin-top: 60px;
    }
    .legenda {
        width: 95vw;
        height: 37vh;
        margin: 12vh auto;
        padding: 0px;
    }
    .descricao-texto {
        font-size: 0.71rem;
    }
    .descricao-titulo {
        font-size: 1rem;
    }
    .link-projeto {
        font-size: 0.65rem;
        letter-spacing: 0.3px;
    }
    .aviso{
        font-size: 0.5rem;
    }
}
@media only screen and (max-width: 350px) {
    .link-projeto {
        font-size: 0.55rem;
        letter-spacing: 0px;
    }
    .descricao-texto {
        font-size: 0.61rem;
    }
}