@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
    color: white;
}

.secao{
    margin-bottom: -25px;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    /* opacity: 0;
    transform: translateX(-20px);
    animation: fadeInLeft 6s ease forwards; */
}

/* @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  } */
/* .secao {
    display: flex;
    flex-direction: column;
    align-items: center;
 
} */

/* .container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInLeft 4s ease forwards;
} */

/* .secao:hover{
    opacity: 1;
    transform: translate3d(0, 0, 0);
} */

.titulo-skills {
    margin-top: 80px;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: .15em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}

#foto-type{
    margin-top: -16px;
}

.card {
    position: relative;
    flex-grow: 1;
    width: 23%;
    background: #efecec1f;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: .3s;
    border: 4px solid transparent;
    box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, 0.837);
    transform: scale(.8);
    /* z-index: -1; */
    cursor: pointer;
  
}



.card:hover {
    border-color: rgb(252, 250, 250);
    box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.837);
}

.descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 1.8rem;
    color:  rgba(172, 255, 47, 0.694);
    font-weight: 400;
}

.html {
    /* transition: all 0.5s;
    cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;



}

.html:hover {
    /* -webkit-transform: scale(1.5);
    transform: scale(1.5); */
}

@media only screen and (max-width: 800px) {
    .titulo-skills{
        font-size: 2rem;
    }
    .card{
        width: 21%;
        margin-bottom: 0px;
    }

    @media only screen and (max-width: 610px) {
        .titulo-skills{
            font-size: 1rem;
        }
        .card {
            width: 140px;
            margin-bottom: -20px;
        }
    }
    
}
